<div style="height:70%;background:url(img/background-companies.jpg) no-repeat center; background-size:cover;"></div>

<div class="" style="background-color:white;display:flex;flex-direction:column;align-items:center;padding:50px 15px">
    <h1>Vilka är vi?</h1>
    <hr class="titleLine" style=""></hr>
    <div id="companyPresentation" style="">
        <p>
            Våra ingenjörsstudenter grundar flest tech-företag på hela KTH och mastrar inom interaktiva medier, datalogi och management.
            Vi har programmerare som sysslar med system- webb- och apputveckling. Interaktionsdesigners, grafiker och till och med spelutvecklare.
        </p>
        <p>
            Hos oss hittar ni blivande projektledare inom IT och studenter som älskar management.
            Vi medietekniker är speciellt bra på att kommunicera mellan teknik- och business-avdelningen.
        </p>
        <p>
            Inte nog med att vi har en kandidatutbildning specifierat på ljud, vi kan även välja att mastra inom ljud.
            Allt ifrån den analoga akustiken till det digitala. Samtliga av våra studenter har förståelse om ljud, och aktuella områden så som tal-teknologi.
            Vi har kurser inom allt ifrån videokomprimering till videoredigering och har en stabil grund för bildanalys.
            Inte bara kan vi det mesta om all sorts videohantering, vi kan även den bakomliggande programmeringen.
        </p>
        <p>
            Alla de här studenterna, kommer att vara på vår branschdagsmässa den 3 November, där vi vill att ni
            deltar. Att synas på Medias Branschdag är en otroligt bra möjlighet för er att marknadsföra ert företag
            och för oss studenter är branschdagen ett uppskattat tillfälle kunna nätverka med morgondagens arbetsgivare.
        </p>
        <p>
            Medias Branschdag är årets bästa tillfälle för er att visa upp er verksamhet mot potentiella medarbetare eller framtida kunder.
        </p>
        <h2 style="text-align:left">Välkommen!</h2>
    </div>

</div>


<div style="min-height:calc(80% - 50px);padding-top:50px;background-color:#daede8;display:flex;align-items:center;flex-direction:column">
    <h1>Branschdagspaketet</h1>
    <hr class="titleLine" style=""></hr>
    <!-- <div style="background-color:rgb(246,246,246);margin-top:40px;padding:25px 5%;border-radius:4px;width:85%;box-shadow:0px 0px 50px -10px">
        <ul>
            <li>Monterplats: 4kvm</li>
            <li>Lunch och fika för företagsrepresentanter</li>
            <li>Sittningsbiljetter till era representanter</li>
            <li>Aktiv marknadsföring på sociala medier och i tryckt material</li>
            <div><span style="font-size:18px">Pris: 12 000 kr</span></div>
        </ul>
    </div> -->
    <h2>För att delta i Medias Branschdag erbjuder vi följande paket till företag.</h3>
    <div class="" style="display:flex;align-items:center;flex-wrap:wrap;justify-content:center">
        <div style="width:200px;min-height:200px;text-align:center;padding:0 40px" class="">
            <img style="width:25%;height:auto" src="img/icons/booth.svg" alt="" />
            <h4>Monterplats: 4kvm</h4>
        </div>
        <div style="width:200px;min-height:200px;text-align:center;padding:0 40px" class="">
            <img style="width:25%;height:auto" src="img/icons/food.svg" alt="" />
            <h4>Lunch och fika för företagsrepresentanter</h4>
        </div>
        <div style="width:200px;min-height:200px;text-align:center;padding:0 40px" class="">
            <img style="width:25%;height:auto" src="img/icons/party.svg" alt="" />
            <h4>Sittningsbiljetter till era representanter</h4>
        </div>
        <div style="width:200px;min-height:200px;text-align:center;padding:0 40px" class="">
            <img style="width:25%;height:auto" src="img/icons/marketing.svg" alt="" />
            <h4>Aktiv marknadsföring på sociala medier och i tryckt material</h4>
        </div>
    </div>
    <h2>Pris: 12000 SEK</h2>
</div>

<div class="" style="min-height:calc(80% - 50px);padding-top:50px;background-color:rgb(246,246,246);display:flex;flex-direction:column;align-items:center">
    <h1 style="">Vilka är Medieteknik?</h1>
    <hr class="titleLine" style=""></hr>
    <div class="" style="width:60%;text-align:justify">
        <p>
            Meowzer! hack up furballs for under the bed. Put toy mouse in food bowl
            run out of litter box at full speed kick up litter see owner, run in terror
            my left donut is missing, as is my right meowzer! or sit on the laptop.
            Refuse to drink water except out of someone's glass kitty power! so sit by
            the fire get video posted to internet for chasing red dot and thug cat or
            knock over christmas tree put toy mouse in food bowl run out of litter box at
            full speed. Mark territory scratch the furniture or
        </p>
        <p>
            Refuse to drink water except out of someone's glass kitty power! so sit by
            the fire get video posted to internet for chasing red dot and thug cat or
        </p>
    </div>
    <a href="http://www.medieteknik.com"><img style="width:300px;height:auto" src="img/logo/medieteknik-logo@2x.png" alt="" /></a>
</div>

<div class="" style="min-height:calc(80% - 50px);padding-top:50px;background-color:#daede8;display:flex;flex-direction:column;align-items:center;">
    <h1>Våra företagsansvariga</h1>
    <hr class="titleLine" style=""></hr>
    <div class="" style="display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px">
        <div style="width:300px;text-align:center" class="">
            <img style="width:200px;height:auto;border-radius:50%;" src="img/profiles2/christian.jpg" alt="" />
            <h5 style="margin: 5px 0">Christian Abdelmassih</h5>
            <a style="color:black;font-size:11px" href="#">christian.abdelmassih@mediasbranshdag.com</a>
        </div>
        <div style="width:300px;text-align:center" class="">
            <img style="width:200px;height:auto;border-radius:50%;" src="img/profiles2/sabina.jpg" alt="" />
            <h5 style="margin: 5px 0">Sabina von Essen</h5>
            <a style="color:black;font-size:11px" href="#">sabina.von.essen@mediasbranshdag.com</a>
        </div>
        <div style="width:300px;text-align:center" class="">
            <img style="width:200px;height:auto;border-radius:50%;" src="img/profiles2/david.jpg" alt="" />
            <h5 style="margin: 5px 0">David Traenus</h5>
            <a style="color:black;font-size:11px" href="#">david.traenus@mediasbranshdag.com</a>
        </div>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
