<div style="height:450px;background:url(img/group_color_1024.jpg) no-repeat center; background-size:cover;position:relative">
    <div class="" style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);"></div>
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-click="scrollTo('#mediatechnologySection')" class="companyHeaderMenu" style=""><h2>Medieteknik</h2></div>
        <div ng-click="scrollTo('#fairSection')" class="companyHeaderMenu" style=""><h2>Mässan</h2></div>
        <div ng-click="scrollTo('#packageSection')" class="companyHeaderMenu" style=""><h2>Paketet</h2></div>
    </div>
</div>

<div id="mediatechnologySection" class="" style="background-color:white;display:flex;flex-direction:column;align-items:center;padding:50px 15px">
    <h1>Vilka är vi?</h1>
    <hr class="titleLine" style=""></hr>
    <div id="companyPresentation" style="white-space: pre-line">
            Våra ingenjörsstudenter grundar flest tech-företag på hela KTH och mastrar inom interaktiva medier, datalogi och management. Vi har programmerare som sysslar med system- webb- och apputveckling. Interaktionsdesigners, grafiker och till och med spelutvecklare.

            Hos oss hittar ni blivande projektledare inom IT och studenter som älskar management. Vi medietekniker är speciellt bra på att kommunicera mellan teknik- och business-avdelningen.

            Inte nog med att vi har en kandidatutbildning specifierat på ljud, vi kan även välja att mastra inom ljud. Allt ifrån den analoga akustiken till det digitala. Samtliga av våra studenter har förståelse om ljud, och aktuella områden så som tal-teknologi. Vi har kurser inom allt ifrån videokomprimering till videoredigering och har en stabil grund för bildanalys. Inte bara kan vi det mesta om all sorts videohantering, vi kan även den bakomliggande programmeringen.

            Alla de här studenterna, kommer att vara på vår branschdagsmässa den 3 November, där vi vill att ni deltar. Att synas på Medias Branschdag är en otroligt bra möjlighet för er att marknadsföra ert företag och för oss studenter är branschdagen ett uppskattat tillfälle kunna nätverka med morgondagens arbetsgivare.

            Medias Branschdag är årets bästa tillfälle för er att visa upp er verksamhet mot potentiella medarbetare eller framtida kunder.
        <h2 style="text-align:left">Välkommen!</h2>
    </div>
</div>

<div id="fairSection" class="" style="padding:50px 15px;background-color:#daede8;">
    <h1 style="text-align:center">Mässan</h1>
    <hr class="titleLine" style=""></hr>
    <div style="display:flex;justify-content:center;align-items:flex-start;flex-wrap:nowrap;height:100%;margin-top:50px;">
        <div style="text-align:center;margin:0 50px">
            <h2>När?</h2>
            <div style="font-weight:bold">
                3:e November
            </div>
            <div style="font-weight:bold">
                08:00 - 17:00
            </div>
        </div>
        <div style="text-align:center;margin:0 50px">
            <h2>Var?</h2>
            <div style="font-weight:bold">
                Nymble, KTH
            </div>
            <div style="font-weight:bold">
                Drottning Kristinas väg 15
            </div>
        </div>
    </div>
    <div class="" style="margin:0 auto;max-width:800px;text-align:justify;white-space:pre-line">
        Mässan startar den 3:e November och innehåller bland annat en heldag med inspirerande föreläsningar och spännande företag. Vi kommer att hålla till i THS kårhus, Nymble, som ligger på Drottning Kristinas väg 15 vid Kungliga Tekniska Högskolan.

        Under dagen är mässan öppen för alla studenter på KTH, men vi riktar oss särskilt mot medieteknikstudenter då dessa har ett brett intresse för design, programmering, och business. Ett perfekt tillfälle för ditt företag att hitta studenter för framtiden!

        Dagen avslutas med en stor sittning där era företagsrepresentanter har möjlighet att komma och äta och mingla med våra studenter i en mer avslappnad miljö.
    </div>
</div>


<div id="packageSection" style="padding:50px 15px;background:url(img/KTH_blur.jpg) center no-repeat;background-size:cover;position:relative;color:white">
    <div class="" style="background-color:rgba(0,0,0,0.5);position:absolute;height:100%;width:100%;left:0;top:0"></div>
    <div class="" style="max-width: 1100px;z-index: 1;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;margin: 0 auto;position: relative;flex-direction: column;">
        <h1>Branschdagspaketet</h1>
        <hr class="titleLine" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));"></hr>
        <h2 style="text-align:center">För att delta i Medias Branschdag erbjuder vi följande paket:</h2>
        <div class="" style="display: flex;align-items: center;flex-wrap: wrap;justify-content: center;padding: 20px 0;">
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/booth.png" alt="" />
                <h4>Monterplats: 4kvm</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/food.png" alt="" />
                <h4>Lunch och fika för två företagsrepresentanter</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/party.png" alt="" />
                <h4>Sittningsbiljetter till era representanter</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/marketing.png" alt="" />
                <h4>Aktiv marknadsföring på sociala medier och i tryckt material</h4>
            </div>
        </div>
        <h2>Pris: 12000 SEK</h2>
        <a href="#contact#contactForm" class="myButton" style="background-color:#daede8">Till anmälan</a>
    </div>
</div>

<div class="" style="min-height:400px;padding:50px 15px;background-color:#daede8;display:flex;flex-direction:column;align-items:center;justify-content:center">
    <h1 style="text-align:center">Våra företagsansvariga</h1>
    <hr class="titleLine" style=""></hr>
    <div class="" style="display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px">
        <div style="max-width:300px;height:auto;padding: 0 0;text-align:center" class="">
            <img style="width:80%;height:auto;border-radius:50%;box-shadow: 0px 0px 20px -5px" ng-src="img/profiles2/christian.jpg" alt="" />
            <h3 style="margin: 0px 0px">Christian Abdelmassih</h3>
            <h4 style="margin: 0px 0px">Företagskontakt</h4>
            <a href="mailto:mailto:christian.abdelmassih@mediasbranshdag.com"><img src="img/icons/mail_black_copy.png" alt="" style="height:auto;width:30px;margin: 5px 0 30px 0" /></a>
            <a href="https://se.linkedin.com/in/christianabdelmassih" target="_blank"><img src="img/icons/linkedin.png" alt="" style="height:auto;width:30px;margin:5px 0 30px 0" /></a>
        </div>
        <div style="max-width:300px;height:auto;padding: 0 0;text-align:center" class="">
            <img style="width:80%;height:auto;border-radius:50%;box-shadow: 0px 0px 20px -5px" ng-src="img/profiles2/sabina.jpg" alt="" />
            <h3 style="margin: 0px 0px">Sabina von Essen</h3>
            <h4 style="margin: 0px 0px">Ansvarig för Näringslivsgruppen</h4>
            <a href="mailto:mailto:sabina.v.essen@mediasbranshdag.com"><img src="img/icons/mail_black_copy.png" alt="" style="height:auto;width:30px;margin: 5px 0 30px 0" /></a>
            <a href="https://se.linkedin.com/in/sabina-von-essen-5bb976102" target="_blank"><img src="img/icons/linkedin.png" alt="" style="height:auto;width:30px;margin:5px 0 30px 0" /></a>
        </div>
        <div style="max-width:300px;height:auto;padding: 0 0;text-align:center" class="">
            <img style="width:80%;height:auto;border-radius:50%;box-shadow: 0px 0px 20px -5px" ng-src="img/profiles2/david.jpg" alt="" />
            <h3 style="margin: 0px 0px">David Traeneus</h3>
            <h4 style="margin: 0px 0px">Företagskontakt</h4>
            <a href="mailto:mailto:david.traeneus@mediasbranshdag.com"><img src="img/icons/mail_black_copy.png" alt="" style="height:auto;width:30px;margin: 5px 0 30px 0" /></a>
            <a href="https://se.linkedin.com/in/david-tranaeus-0834a7114" target="_blank"><img src="img/icons/linkedin.png" alt="" style="height:auto;width:30px;margin:5px 0 30px 0" /></a>
        </div>
    </div>
    <p style="text-align:center;font-size:16px;">
        Söker du annan kontakt? Klicka <a href="#contact"style="color:#66907a">här!</a>
    </p>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
