<div class="" style="height:70%;background:url(img/background-contact_720.jpg) no-repeat; background-size:cover;background-position: 50% 70%">

</div>

<h1 style="text-align:center;padding-top:30px">Projektgruppen</h1>
<hr class="titleLine" style=""></hr>
<div style="display:flex;flex-wrap:wrap;justify-content:center;padding-top:50px;max-width:1100px;margin: 0 auto">
    <div ng-repeat="person in groupMembers" style="max-width:300px;height:auto;padding: 0 0;text-align:center" class="">
        <img style="width:80%;height:auto;border-radius:50%;box-shadow: 0px 0px 20px -5px" ng-src="{{person.img}}" alt="" />
        <h3 style="margin: 0px 0px">{{person.forename}} {{person.surname}}</h3>
        <h4 style="margin: 0px 0px">{{person.position}}</h4>
        <a href="mailto:{{person.mail}}"><h5 style="margin: 0px 0px 30px 0px;color:black;font-size:10px">{{person.mail}}</h5></a>
    </div>
</div>

<div class="" style="background-color:#daede8;display:flex;flex-direction:column;justify-content:center;align-items:center">
    <h1 style="text-align:center;padding-top:30px">Maila oss!</h1>
    <hr class="titleLine" style=""></hr>
    <div style="display:flex;flex-direction:column;align-items:flex-start;width:50%;" class="">
        Namn* <input ng-model="name" style="border-radius:4px;border:none;margin: 5px 0;width:100%;" type="text" name="mailTitle" value="" placeholder="">
        Epost* <input ng-model="email" style="border-radius:4px;border:none;margin: 5px 0;width:100%;" type="text" name="mailTitle" value="" placeholder="">
        Ämne* <input ng-model="subject" style="border-radius:4px;border:none;margin: 5px 0;width:100%;" type="text" name="mailSender" value="" placeholder="">
        Meddelande* <textarea ng-model="message" style="border:none;border-radius:4px;width:100%;resize:vertical;" name="mailMessage" rows="8" cols="" placeholder=""></textarea>
        <div style="display:flex;align-items:baseline;" class="">
            <a class="myButton" id="contactEmailButton" style="background-color:#3a4eb9" ng-click="sendMail()">Skicka</a>
            <div style="margin: 0 5px" id="contactFeedbackContainer">
                {{successMessage}}
            </div>
        </div>

    </div>

</div>
<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
