<div class="" style="background-color:#66907a;text-align:center">
    <h1 style="padding-top:50px;margin-top:0" class="">Samarbetspartners</h1>
    <hr class="titleLine" style=""></hr>
        <img ng-repeat="company in companies" ng-src="{{company.image}}" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px" />
        <!-- <img src="img/companies/dynabyte.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/schibsted.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/kaplan.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/sverigesIngenjorer.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/unionen.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/apegroup.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/dynabyte.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/schibsted.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/apegroup.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img>
        <img src="img/companies/dynabyte.png" class="" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px"></img> -->

</div>

<footer>
    <div class="" style="background-color:#66907a;display:flex;justify-content:center;align-items:center;">
        <h4><a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></h4>
    </div>
</footer>
