<div class="" style="/*background-color:#66907a;*/background-color:rgb(246,246,246);text-align:center;">
    <!-- <h1 style="padding-top:50px;margin-top:0" class="">Samarbetspartners</h1>
    <hr class="titleLine" style=""></hr> -->
    <div class="" style="">
        <a ng-repeat="company in getCompanies()" ng-href="http://{{company.website}}" target="_blank">
            <img ng-src="img/companies/{{company.logo}}" style="max-height:100px;max-width:200px;display:inline-block;vertical-align:middle;margin:20px" />
        </a>
    </div>
</div>

<footer>
    <div class="" style="/*background-color:#66907a;*/background-color:rgb(55,55,54);display:flex;justify-content:center;align-items:center;color:white">
        <h4><a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></h4>
    </div>
</footer>
