<div class="" style="background-color:rgb(246,246,246);text-align:center;padding:50px 15px;">
    <!-- <h1 style="padding-top:50px;margin-top:0" class="">Samarbetspartners</h1>
    <hr class="titleLineBlack" style=""></hr> -->
    <div class="" style="max-width:1100px; margin: 0 auto">
        <div class="" ng-repeat="company in getCompanies()" style="display:inline;">
            <a ng-class="{'hidden': !company.website}" ng-href="http://{{company.website}}" target="_blank">
                <img class="companyFooterIcon" ng-src="img/companies/{{company.logo}}" style="" />
            </a>
            <a ng-if="company.logo == 'dice.png'" ng-class="{'hidden': !company.website}" ng-href="http://www.ea.com" target="_blank">
                <img class="companyFooterIcon" ng-src="img/companies/ea.png" style="" />
            </a>
        </div>

    </div>
</div>

<footer>
    <div class="" style="background-color:rgb(55,55,54);display:flex;flex-direction:column;justify-content:center;align-items:center;color:white;padding: 15px 0">
        <h4 style="margin:0">Sektionen för Medieteknik, KTH</h4>
        <h4 style="margin:0"><a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></h4>
    </div>
</footer>
