<nav class="navbar">
    <a id="navbarLogo" style="display:flex;align-items:center;height:100%;" ng-click="closeNavbar()" href="#/">
        <img src="img/logo/logo_yellowBred.svg"  style="width:60px;height:60px"alt="" />
    </a>
    <a ng-repeat="item in navbarOptions" class="navLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">{{item.option}}</a>

    <div id="menuToggle">
        <input ng-click="preventScroll()" id="menuInput" type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <div id="menu" style="display:flex;flex-direction:column;align-items:center;justify-content:space-around">
            <h2 ng-repeat="item in navbarOptions"><a ng-click="closeNavbar()" class="navMobileLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">{{item.option}}</a></h2>
        </div>
    </div>
</nav>
