<div class="" style="height:450px;background:url(img/background/leaves.jpg) no-repeat center; background-size:cover;"></div>

<div style="height:70%;background-color:rgb(246,246,246);text-align:center;padding:50px 15px">
    <h1>Schema</h1>
    <hr class="titleLine" style=""></hr>

    <div class="" style="height:100%;display:flex;align-items:center;justify-content:center">
        <h1>Info kommer inom kort!</h1>
    </div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
