<div style="min-height:100%;background:url(img/group_color.jpg) no-repeat center; background-size:cover;display:flex;flex-direction:column;justify-content:space-around;align-items:center">
    <!-- <img id="startLogo" src="img/logo/logo_white_text.svg" alt=""/> -->
    <img id="downArrow" style="" src="img/arrowDown.png" ng-click="scrollDown()" alt="" />
</div>

<div id="welcomeWrapper" class="welcomeWrapper" style="padding:50px 0">
    <div class="" style="max-width: 1100px;display: flex;justify-content: center;align-items: center;margin: 0 auto;flex-wrap: wrap;">
        <div class="welcomeText" style="max-width:500px;">
            <p style="white-space:pre-line;text-align:justify">
                <span style="font-size:30px">Hej!</span>
                Varmt välkommen till hemsidan för Medias Branschdag.

                Har du som student någonsin undrat vad du kommer att göra när om 5 år? Eller kanske har du som ett företag undrat över vad Medieteknikstudenter faktiskt gör?

                Under en heldag så möts studenter och företag upp, pratar med varandra och skapar relationer. Det är stor sannolikhet att det är under Medias Branschdag som just du kommer att hitta din framtida arbetsplats eller en framtida anställd.

                Dagen går av stapeln den 3:e November, och naturligtvis hoppas vi på att du kommer!

                På återseende,
                Medias Branschdag.
            </p>
        </div>
        <div class="" style="min-width:150px;max-width:275px;margin:20px 35px; text-align:center">
            <img style="border-radius:50%;width:100%;height:auto" src="img/profiles/niklasBW2.jpg" alt="" />
            <p style="margin:0">
                Niklas Gustavsson, Projektledare
            </p>
        </div>
    </div>
</div>

<div class="userTypeWrapper" style="min-height:560px;background-color:#daede8;display:flex;justify-content:center;align-items:center;background:url(img/KTH_blur.jpg) no-repeat center; background-size:cover;position:relative">
    <div class="" style="position:absolute;background-color:rgba(0,0,0,0.5);height:100%;width:100%;left:0;top:0;z-index:0"></div>
    <div class="userTypeContainer" style="padding:15px;color:white;z-index:1">
        <img style="width:70px;height:auto" src="img/icons/company.png" alt="" />
        <h2>Företag</h2>
        <div class="userTypeParagraph">
            <p>
                Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
                Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
            </p>
        </div>
        <a href="#/companies" class="myButton" style="background-color:#daede8;">Läs mer</a>
    </div>
    <div class="userTypeContainer" style="padding:15px;color:white;z-index:1">
        <img style="width:70px;height:auto" src="img/icons/student.png" alt="" />
        <h2>Student</h2>
        <div class="userTypeParagraph">
            <p>
                Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2016,
                kanske hittar du din framtida arbetsgivare redan nu? I år hittar du företag från management till spelutveckling!
            </p>
        </div>
        <a href="#/students" class="myButton" style="background-color:#daede8;">Läs mer</a>
    </div>
</div>
<div class="" style="background-color:#daede8">
    <div class="" style="display:flex;justify-content:center;align-items:center;height:250px">
        <a class="socialMediaLink" href="https://www.facebook.com/mediasbranschdag/" target="_blank"><img style="margin:0 15px;width:100px;height:auto" src="img/icons/facebook.svg" alt=""/></a>
        <a class="socialMediaLink" href="https://www.instagram.com/mediasbranschdag/" target="_blank"><img style="margin:0 15px;width:100px;height:auto" src="img/icons/instagram.svg" alt=""/></a>
    </div>
</div>

<div class="" style="min-height:100%;background:url(img/KTH_blur_bw.jpg) center no-repeat;background-size:cover;position:relative;color:white">
    <div class="" style="position:absolute;background-color:rgba(0,0,0,0.5);top:0;left:0;width:100%;height:100%;"></div>
    <div class="" style="position:relative;z-index:1">
        <h1 style="padding-top:50px;text-align:center">Medias Branschdag på Instagram!</h1>
        <hr class="titleLine" style=""></hr>
        <div class="" style="max-width:1300px;display:flex;justify-content:center;flex-wrap:wrap;margin: 0 auto;padding:30px 0 50px 0">
            <div ng-repeat="post in getInstagram()" class="" style="max-width:300px;margin:20px 50px;">
                <a class="instagramLink" ng-href="{{post.link}}" target="_blank">
                    <div class="" style="position:relative;">
                        <img ng-src="{{post.images.standard_resolution.url}}" style="width:100%;height:auto;border-radius:0px;" alt="" />
                    </div>
                    <div class="" style="bottom:0;right:0;left:0;height:25px;text-align:right;color:white">
                        <div class="" style="display:inline-block;margin:0 2px">
                            <img style="width:15px;height:auto;vertical-align:middle;" src="img/icons/heart_red.png" alt="" />  {{post.likes.count}}
                        </div>
                        <div class="" style="display:inline-block;">
                            <img style="width:15px;height:auto;vertical-align:middle;" src="img/icons/comment_black.png" alt="" />  {{post.comments.count}}
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
