<div style="min-height:100%;background:url(img/group_color.jpg) no-repeat center; background-size:cover;display:flex;flex-direction:column;justify-content:space-around;align-items:center">
    <img id="startLogo" src="img/logo/logo_white_text.svg" alt=""/>
    <img id="downArrow" style="" src="img/arrowDown.png" ng-click="scrollDown()" alt="" />
    <!-- <div>
        <h1 style="margin:0 auto;text-align:center;color:white;">MEDIAS BRANSCHDAG</h1>
    </div> -->
</div>

<div id="welcomeWrapper" class="welcomeWrapper" style="">
        <div class="welcomeText" style="max-width:500px;">
            <p class="welcomeParagraph">
                <span style="font-size:30px">Hej!</span>
            </p>
            <p style="text-align: justify;">
                Vad kul att just du har hittat hit till hemsidan för Medietekniks Branschdag!
                Medias branschdag är till för att både studenter på programmet och företag från industrin ska kunna mötas och skapa relationer inför framtida samarbeten.
                Dagen går av stapeln den 3:e November 2016 och vi ser väldigt mycket fram emot att få träffa dig där!
                Jag önskar dig allt gott och en fortsatt trevlig dag!
                Nu skriver jag lite mer och hoppas att det ska se snyggare ut!
            </p>
            <p>
                Medias Branschdag, 2016
            </p>
        </div>
        <div class="" style="min-width:150px;max-width:275px;margin:0 70px; text-align:center">
            <img style="border-radius:50%;width:100%;height:auto" src="img/profiles/niklasBW2.jpg" alt="" />
            <p>
                Niklas Gustavsson, Projektledare
            </p>
        </div>
</div>

<div class="userTypeWrapper" style="min-height:80%;background-color:#daede8;display:flex;justify-content:center;align-items:center">
    <div class="userTypeContainer" >
        <img style="width:50px;height:auto" src="img/icons/company.svg" alt="" />
        <h2>Företag</h2>
        <div class="userTypeParagraph">
            <p>
                Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
                Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
            </p>
        </div>
        <a href="#/companies" class="myButton" style="background-color:#3a4eb9">Läs mer</a>
    </div>
    <div class="userTypeContainer">
        <img style="width:50px;height:auto" src="img/icons/student.svg" alt="" />
        <h2>Student</h2>
        <div class="userTypeParagraph">
            <p>
                Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2016,
                kanske hittar du din framtida arbetsgivare redan nu? I år hittar du företag från management till spelutveckling!
            </p>
        </div>
        <a href="#/students" class="myButton">Läs mer</a>
    </div>
</div>

<div class="" style="min-height:100%;background-color:rgb(246,246,246)">
    <h1 style="padding-top:30px;text-align:center">Medias branschdag på instagram!</h1>
    <hr class="titleLine" style=""></hr>
    <div class="" style="max-width:1100px;display:flex;justify-content:center;flex-wrap:wrap;margin: 0 auto">
        <div ng-repeat="post in instagramPosts" class="" style="max-width:230px;margin:20px 20px;border:solid 2px;border-radius:4px">
            <div class="" style="position:relative;">
                <div class="" style="background-color:#e5c51c;position:absolute;bottom:0;right:0;left:0;height:25px;text-align:right;padding:0 5px;">
                    <div class="" style="display:inline-block;margin:0 2px">
                        <img style="width:15px;height:auto;vertical-align:middle;"src="img/icons/heart.png" alt="" />  {{post.likes.count}}
                    </div>
                    <div class="" style="display:inline-block;margin:0 2px">
                        <img style="width:15px;height:auto;vertical-align:middle;"src="img/icons/comment.png" alt="" />  {{post.comments.count}}
                    </div>
                </div>
                <a ng-href="{{post.link}}" target="_blank"> <img ng-src="{{post.images.low_resolution.url}}" style="width:100%;height:auto;" alt="" /></a>
            </div>
            <div class="" style="height:150px;overflow:auto">
                {{post.caption.text}}
            </div>
        </div>
    </div>

</div>

<ng-include src="'partials/footer.html'"></ng-include>
