<div class="bannerHeader" style="background-image:url(img/background/flowers3.jpg);">
    <div class="" style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);"></div>
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-click="scrollTo('#companySection')" class="studentHeaderMenu" style=""><h2>Utställare</h2></div>
        <div ng-click="scrollTo('#lunchLecture')" class="studentHeaderMenu" style=""><h2>Lunchföreläsningar</h2></div>
        <div ng-click="scrollTo('#partySection')" class="studentHeaderMenu" style=""><h2>Sittningen</h2></div>
    </div>
</div>


<div id="companySection" class="">
    <div class="companyMobile" style="">
        <h1>Utställare</h1>
        <hr class="titleLineBlack" style=""></hr>

        <div class="" style="display:flex;flex-direction:column;width:100%;">

            <div class="companyListWrapper" ng-repeat="company in getCompanies()" style="margin-bottom:50px">
                <div class="companyHeader" ng-click="presentCompanyContent(company.id)" id="{{company.id}}" style="">
                    <img ng-src="img/companies/{{company.logo}}" alt="" style="height:auto;width:auto;max-height: 80px;max-width: 180px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"/>

                    <div class="" style="width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid white;position:absolute;bottom:-20px;left:calc(50% - 20px)"></div>
                </div>


                <div ng-show="company.id == clickedCompany" class="companyContent" id="" style="">
                    <div ng-click="presentCompanyContent(company.id)" class="companyContentClose" style="position:absolute;top:10px;right:15px;color:black;cursor:pointer;height:32px;width:32px;"></div>

                    <div class="" style="width:100%;height:100%;margin:10px 20px">
                        <h1 style="">{{company.name}}</h1>
                        <p style="text-align:justify;white-space:pre-line">
                            {{company.description}}
                        </p>
                        <div class="" style="text-align:left">
                            <a ng-class="{'hidden': !company.website}" class="myButton whiteText" style="background-color:black" ng-href="http://{{company.website}}" target="_blank">Läs Mer!</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="companyDesktop" style="">
        <h1>Utställare</h1>
        <hr class="titleLineBlack" style=""></hr>
        <div class="" id="contentWrapper" style="min-height:410px;background-color:white;padding:20px 3% 20px 3%;display:flex;flex-direction:column;position:relative;">
            <div ng-click="incrementIndex(1)" class="" style="cursor:pointer;border-top:2px solid;border-right:2px solid;width:40px;height:40px;transform:rotate(45deg);position:absolute;right:30px;top:calc(50% - 42px);z-index:1000"></div>
            <div ng-click="incrementIndex(-1)" class="" style="cursor:pointer;border-top:2px solid;border-left:2px solid;width:40px;height:40px;transform:rotate(-45deg);position:absolute;left:30px;top:calc(50% - 42px);z-index:1000"></div>
            <h1 style="margin:15px 0 0 50px">{{name}}</h1>
            <div class="" style="display:flex;margin-left:50px;">
                <div style="width:60%;">
                    <p style="width:100%;text-align:justify;white-space: pre-line">{{description}}</p>
                    <a ng-class="{'hidden': !website}" class="myButton whiteText" style="background-color:black" ng-href="http://{{website}}" target="_blank">Läs mer!</a>
                </div>
                <div class="" style="width:40%;background-color:#fff;position:relative;">
                    <img ng-src="img/companies/{{image}}" alt="" style="max-width:50%;max-height:150px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"/>
                </div>
            </div>
        </div>
        <div style="background-color:#daede8;padding: 15px 0">
            <div class="" style="display:flex;flex-wrap:wrap;max-width:1300px;margin:0 auto;justify-content:center;align-items:center;">
                <div ng-class="{'activeCompany': $index == number}" ng-click="showCompany(company, $index)" class="" ng-repeat="company in getCompanies()" style="cursor:pointer;width:200px;height:100px;background-color:white;margin:20px 20px;">
                    <div class="" style="position:relative;height:100%;">
                        <img ng-src="img/companies/{{company.logo}}" alt="" style="height:auto;width:auto;max-height: 70px;max-width: 150px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="" style="background:url(img/background/leaves.jpg) center no-repeat;background-size:cover;padding:50px 15px;position:relative;">
    <div class="" style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);"></div>
    <div class="" style="position:relative;height:100%;z-index:1;color:white">
        <h1 style="text-align:center">Sju anledningar att gå på Branschdagen!</h1>
        <div class="" style="max-width:800px;margin:0 auto">
            <h3 style="text-align:center">På Medias Branschdag får du:</h3>
            <ul style="margin: 0;padding:15px;font-size:16px">
                <li style="margin:7px 0">Inspiration till vad du vill arbeta med efter examen</li>
                <li style="margin:7px 0">Inspiration till vad du vill rikta in dig på i ditt program</li>
                <li style="margin:7px 0">Kolla av vilka företag du kan tänka dig ha som arbetsgivare</li>
                <li style="margin:7px 0">Veta hur en vanlig dag ser ut på ditt drömjobb</li>
                <li style="margin:7px 0">Veta hur du går tillväga för att få ditt drömjobb</li>
                <li style="margin:7px 0">Veta hur möjligheterna ser ut att få exjobb eller traineeplats på ditt drömföretag</li>
                <li style="margin:7px 0">Veta vad Medieteknik innebär och vad tidigare medietekniker arbetar med idag</li>
            </ul>

        </div>
    </div>
</div>

<!-- <div id="lunchLectureImgMobile" style="">
    <div style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5)"></div>
</div> -->
<div style="display:flex">
    <div id="lunchLecture" style="padding: 50px 15px 0 15px">
        <h1 style="text-align:center">Lunchföreläsningar</h1>
        <div class="titleLineBlack" style="margin: 0 auto"></div>
        <div class="" style="max-width: 600px;height:400px; display:flex; flex-direction: column; align-items: flex-start;justify-content:space-around;margin:0 auto">
            <div class="" style="display:flex;align-items:center;width:100%;justify-content:space-between">
                <div class="">
                    <h2 class="" style="margin-top: 0">
                        Schibsted
                    </h2>
                    <div class="" style="">
                        TBA
                    </div>
                </div>
                <a href="#" class="myButton" style="background-color:#daede8;" onclick="return false;">Anmäl</a>
            </div>
            <div class="" style="display:flex;align-items:center;width:100%;justify-content:space-between">
                <div class="">
                    <h2 class="" style="margin-top: 0">
                        River
                    </h2>
                    <div class="" style="">
                        TBA
                    </div>
                </div>
                <a href="#" class="myButton" style="background-color:#daede8;" onclick="return false;">Anmäl</a>
            </div>
            <div class="" style="display:flex;align-items:center;width:100%;justify-content:space-between">
                <div class="">
                    <h2 class="" style="margin-top: 0">
                        TBA
                    </h2>
                    <div class="" style="">
                        TBA
                    </div>
                </div>
                <a href="#" class="myButton" style="background-color:#daede8;" onclick="return false;">Anmäl</a>
            </div>
        </div>
    </div>
    <!-- <div id="lunchLectureImgDesktop" style="">
        <div style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5)"></div>
        <img style="width:150px;height:auto;position:absolute;z-index:2;left:calc(50% - 75px);top:calc(50% - 75px)" src="img/icons/lecture2.png" alt="" />
    </div> -->
</div>

<div id="partySection" class="" style="background-color:#daede8;padding: 50px 15px;">
    <h1 style="text-align:center">Sittningen</h1>
    <div class="titleLineBlack" style="margin: 0 auto"></div>
    <div class="" style="min-height:300px;display:flex;justify-content:center;align-items:center">
        <!-- <h1 style="0">Info kommer inom kort!</h1> -->
        <div class="" style="white-space:pre-line;max-width:800px;text-align:justify;font-size:14px">
            Medias Branschdag kommer att avrundas med en sittning där företag och studenter får chansen att utveckla samtal om framtiden mer på djupet. Detta är en utmärkt möjlighet för företag att ta del av Medietekniks många traditioner och lära känna potentiella framtida kollegor på ett mer ledigt plan.

            Sittningen kommer även vara ett ypperligt tillfälle för studenter att få marknadsföra sig själva som civilingenjörer. Vi ser fram emot att få anordna en spektakulär kväll och vi hoppas att ni är lika upprymda som vi är!

            Mer detaljerad information om sittningen såsom tid, plats, och anmälan, kommer under hösten.

            /Emma Olsson & Evelina Hedberg, Sittningsansvariga
        </div>

    </div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
